<h1> <%= @user.username %> </h1>

<h3> <%= @user.pages_read %> pages read so far </h3>
<br />

<h2> Books I want to read: </h2>
<table class="table">
  <th> Book </th>
  <th> Author </th>
  <th> Genre </th>
  <th> Page Count </th>
  <th>  </th>

  <% @user.books.each do |book| %>
    <% book.read_statuses.each do |read_status| %>
      <% if read_status.user_id == @user.id && read_status.value == false %>
        <tr>
          <td> <%= link_to book.title, book_path(book) %> </td>
          <td> <%= link_to book.author.name, author_path(book.author) %> </td>
          <td> <%= link_to book.genre.name, genre_path(book.genre) %> </td>
          <td> <%= book.page_count %> </td>
          <td>
            <%= form_tag(user_path(@user), method: :get) do %>
              <%= hidden_field_tag "mark_as_read" %>
              <%= hidden_field_tag "book_id", book.id %>
              <%= submit_tag ("Mark as Read") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<br />
<br />

<h4> Books I Have Read: </h4>

<table class="table">
  <th> Book </th>
  <th> Author </th>
  <th> Genre </th>
  <th> Page Count </th>
  <th> My Rating </th>
  <th> My Review </th>

  <% @user.books.each do |book| %>
    <% book.read_statuses.each do |read_status| %>
      <% if read_status.user_id == @user.id && read_status.value == true %>
        <tr>
          <td> <%= link_to book.title, book_path(book) %> </td>
          <td> <%= link_to book.author.name, author_path(book.author) %> </td>
          <td> <%= link_to book.genre.name, genre_path(book.genre) %> </td>
          <td> <%= book.page_count %> </td>
          <td>
            <% if Rating.find_by(book_id: book.id, user_id: @user.id) %>
              <%= Rating.find_by(book_id: book.id, user_id: @user.id).content %>
            <% else %>
              <%= button_to "Add Rating", new_book_rating_path(book), :method => :get %>
            <% end %>
          </td>
          <td>
            <% if Review.find_by(book_id: book.id, user_id: @user.id) %>
              <%= Review.find_by(book_id: book.id, user_id: @user.id).content %>
            <% else %>
              <%= button_to "Add Review", new_book_review_path(book), :method => :get %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
