<h2> Create an Account: </h2>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br />
  <br />
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br />
  <br />
  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation  %>
  <br />
  <br />
  <%= f.submit "Create Account" %>
<% end %>



<h2> OR </h2>

<h3> <%= link_to('Log in with Goodreads here!', '/auth/goodreads') %> </h3>
