<h1>My Rating for <%= @book.title %>:</h1>


<%= form_for [@book, @rating] do |f| %>
  <fieldset>
    <span class="star-cb-group">
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :book_id %>
      <%= f.label :value, "5", :value => 'rating-5' %>
      <%= f.radio_button :value, 'rating-5' %>
      <%= f.label :value, "4", :value => 'rating-4' %>
      <%= f.radio_button :value, 'rating-4' %>
      <%= f.label :value, "3", :value => 'rating-3' %>
      <%= f.radio_button :value, 'rating-3' %>
      <%= f.label :value, "2", :value => 'rating-2' %>
      <%= f.radio_button :value, 'rating-2' %>
      <%= f.label :value, "1", :value => 'rating-1' %>
      <%= f.radio_button :value, 'rating-1' %>
      <%= f.label :value, "0", :value => 'rating-0' %>
      <%= f.radio_button :value, 'rating-0', {:class => "star-cb-clear"} %>
    </span>
  </fieldset>
  <br />
  <%= f.submit "Save Rating" %>
<% end %>

<!-- source: https://codepen.io/lsirivong/pen/ekBxI -->
