<h1> <%= @book.title %> by <%= @book.author.name %> </h1>

<br />

<h4> Genre: </h4> <%= @book.genre.name %>

<br />
<br />

<h4> Page count: </h4> <%= @book.page_count %>

<br />
<br />

<h4> Average rating: </h4> <%= @book.average_rating %>

<br />
<br />

<h4> User Reviews: </h4> <%= link_to @book.review_count, book_reviews_path(@book) %>

<br />
<br />
<br />

<%= button_to "Edit Book Details", edit_book_path(@book), :method => :get %>
