<h1> <%= @book.title %> by <%= @book.author.name %> </h1>

<h4> <%= @book.genre.name %> </h4>
<h4> <%= @book.page_count %> pages </h4>

<h4> Average rating: </h4>
<p> <%= @book.average_rating %> </p>

<h4> User Reviews: </h4>
<p> <%= link_to @book.review_count, book_reviews_path(@book) %> </p>

<br />
<br />

<%= button_to "Edit Book Details", edit_book_path(@book), :method => :get %>
