<h2> Add a review for <%= @book.title %>: </h2>

<br />
<%= form_for [@book, @review] do |f| %>
  <%= f.text_area :content, placeholder: "Enter review here" %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :book_id %>
  <br />
  <%= f.submit "Save review" %>
<% end %>
