<!DOCTYPE html>
<html>
  <head>
    <title>Bookable</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <% if logged_in? %>
              <%= link_to "Home", root_url %>
            <% end %>
          </div>
          <div class="navbar-brand">
            <% if logged_in? %>
              <%= link_to " My Books", user_path(current_user) %>
            <% end %>
          </div>
         </div>
        <div class="login_status">
            <%= login_status_display %>
            <% if logged_in? %>
              <%= link_to "Log Out", logout_path, method: :post %>
            <% end %>
        </div>
          </div>
        <div class="navbar-collapse collapse">

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
